.line {
  width: 205px;
  height: 1px;
  margin-bottom: 7px;
  background-color: var(--lines);
}
.line-left {
  width: 205px;
  height: 1px;
  margin-left: 85px;
  margin-bottom: 14px;
  background-color: var(--lines);
}
